/* .mobile-top-nav-unclickable, .mobile-top-nav-clickable {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-top-nav-unclickable{
    pointer-events: none;
    background-image: linear-gradient(#00000066, #00000066);

} */

.mobile-top-nav-wrapper {
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}