.menu-initial {
    height: 100%;
    width: 80%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: -80%;
    
}

.menu-open {
    display: block;
    transform: translateX(100%);
    background-color: yellow;
    transition: transform 0.3s ease-in;
}

@media (min-width: 1024px) {
    .menu-initial {
        display: none;
    }
}