.nav2, .nav2-unclickable, .nav2-clickable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav2-unclickable {
    pointer-events: none;
}

@media (min-width: 1024px) {
    .nav2 {
        height: 80px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}